[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cuse/Dropbox/Desktop/ssstik.io_1675670062088.mp3]
row=3
col=3

[/home/cuse/Dropbox/Desktop/snakesay-project.zip]
row=8
col=2

[/home/cuse/Dropbox/Desktop/linux-configs]
row=6
col=3

[/home/cuse/Dropbox/Desktop/DOC-20221205-WA0010.]
row=5
col=1

[/home/cuse/Dropbox/Desktop/Sibs CV]
row=4
col=3

[/home/cuse/Dropbox/Desktop/vehicles.csv]
row=1
col=2

[/home/cuse/Dropbox/Desktop/0 CSS Outline and TODO.md]
row=0
col=1

[/home/cuse/Dropbox/Desktop/potential articles.md]
row=6
col=2

[/home/cuse/Dropbox/Desktop/justificante.pdf]
row=2
col=1

[/home/cuse/Dropbox/Desktop/back]
row=3
col=2

[/home/cuse/Dropbox/Desktop/thanks to team.md]
row=5
col=2

[/home/cuse/Dropbox/Desktop/cspell.json]
row=5
col=0

[/home/cuse/Dropbox/Desktop/Signal.lnk]
row=7
col=1

[/home/cuse/Dropbox/Desktop/creds.zip]
row=8
col=1

[/home/cuse/Dropbox/Desktop/js201 projects temp.md]
row=6
col=0

[/home/cuse/Dropbox/Desktop/Namespace_TR1.pdf]
row=6
col=1

[/home/cuse/Dropbox/Desktop/archive.zip]
row=7
col=3

[/home/cuse/Dropbox/Desktop/jared_creds]
row=2
col=2

[/home/cuse/Dropbox/Desktop/nvim]
row=1
col=3

[/home/cuse/Dropbox/Desktop/ManicTime-arch.tar.gz]
row=1
col=4

[/home/cuse/Dropbox/Desktop/aoc coords]
row=4
col=2

[/home/cuse/Dropbox/Desktop/blackboard.sddoc]
row=7
col=0

[/home/cuse/Dropbox/Desktop/UserPreferencesMask_061029.txt]
row=5
col=3

[/home/cuse/Dropbox/Desktop/Leaving RP things.txt]
row=8
col=0

[/home/cuse/Dropbox/Desktop/cn3 github action.yml]
row=0
col=4

[/home/cuse/Dropbox/Desktop/TimeBolt_ Invoice 000004246.pdf]
row=0
col=2

[/home/cuse/Dropbox/Desktop/TODO.md]
row=1
col=1

[/home/cuse/Dropbox/Desktop/Screenshot 2023-02-09 101044.png]
row=7
col=2

[/home/cuse/Dropbox/Desktop/exportproject.lua]
row=2
col=3

[/home/cuse/Dropbox/Desktop/site]
row=0
col=3

[/home/cuse/Dropbox/Desktop/rpbot.in]
row=8
col=3

[/home/cuse/Dropbox/Desktop/GitAhead-2.6.3.sh]
row=2
col=4

[/home/cuse/Dropbox/Desktop/Silvia Office.txt]
row=3
col=1

[/home/cuse/Dropbox/Desktop/output.mkv]
row=4
col=1

[FC30ABF030ABAFD6]
row=1
col=0

[google-drive://iansedano@gmail.com/]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/cuse]
row=4
col=0

