<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <!-- Core -->
        <package id="powershell-core" />
        <package id="googlechrome" />
        <package id="winaero-tweaker" />
        <package id="bulk-crap-uninstaller" />
        <package id="git"
            packageParameters="/NoAutoCrlf /NoShellIntegration"
        />
        <package id="7zip" />
        <package id="everything"
            packageParameters="/client-service /run-on-system-startup"
        />
        <package id="keepass" />
        <package id="veracrypt" />
        <package id="vlc" />
        <package id="autohotkey" />
        <package id="foobar2000"
            packageParameters="/NoShortcut"
        />

        <!-- Development -->
        <package id="pyenv-win" />
        <package id="gh" />
        <package id="fzf" />
        
    </packages>
