<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <!-- Core -->
        <!-- TODO - add vs code! -->
        <package id="googlechrome" />
        <package id="winaero-tweaker" />
        <package id="bulk-crap-uninstaller" />
        <package id="git"
            packageParameters="/NoAutoCrlf /NoShellIntegration"
        />
        <package id="dropbox" />
        <package id="7zip" />
        <package id="everything"
            packageParameters="/client-service /run-on-system-startup"
        />
        <package id="keepass" />
        <package id="greenshot" />
        <package id="veracrypt" />
        <package id="vlc" />
        <package id="autohotkey" />
        <package id="foobar2000"
            packageParameters="/NoShortcut"
        />
        <package id="obs-studio" />
        <package id="powertoys" />
        <package id="pdfxchangeeditor"
            version="7.0.328.2"
            packageParameters="/NoDesktopShortcuts /NoViewInBrowsers"
        />
        
        <!-- Development -->
        <package id="pyenv-win" />
        <package id="nodejs" />
        <package id="gh" />
        <package id="fzf" />
        <package id="clink" />
        <package id="conemu" />
        <package id="notepadplusplus" />
        <package id="sublimetext4" />
        <package id="mysql" />
        <package id="mysql-cli" />
        <package id="mysql.workbench" />
        <package id="filezilla" />
        
        <!-- Audio/Visual -->
        <package id="fsviewer" />
        <package id="fsresizer.install" />
        <package id="paint.net" />
        <package id="drawio" />
        <package id="licecap" />
        <package id="sharex" />
        <package id="krita" />
        <package id="inkscape" />
        <package id="scribus" />
        <package id="ffmpeg" />
        <package id="reaper" />
        <package id="sharex" />
        <package id="freecad" />
        <package id="shotcut" />
        <package id="avidemux" />
        
        <!--Misc-->
        <package id="manictime" />
        <package id="deluge" />
        <package id="ripcord" />
        <package id="processhacker" />
        <package id="gsudo" />
        
    </packages>
