desktop/
panel/
xfce4-mime-settings.xml
xfce4-notifyd.xml
xfce4-panel.xml
displays.xml
pointers.xml
xfce4-power-manager.xml
xfce4-settings-manager.xml
xfce4-appfinder.xml
xfce4-desktop.xml
xfce4-screensaver.xml
xfce4-screenshooter
xfce4-screenshooter.xml
thunar.xml
parole.xml
keyboards.xml