.spinspin {
    animation-name: spin;
    animation-duration: 1.0s;
    animation-iteration-count: 3;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#first {
    position: absolute;
    top: 20%;
    left: 20%;
}

#second {
    position: absolute;
    top: 30%;
    left: 40%;
}